useDynLib(hwas)
import(Rcpp)

# bcfio
export(bopen)
export(bclose)
export(query_next)
export(num_samples)
export(subset_samples)
export(set_threads)
export(k_fmt)


# grm
export(calc_grm)

# qtl2
# export(fit1_pg)
# export(est_herit)
