useDynLib(hwas)
import(Rcpp)

#########################################################
## pipeline functionality
#########################################################
export(init)

#########################################################
## bcfio and htslib interface
#########################################################
# bcf connection utilities
export(bopen)
export(bclose)
export(is_bcf)
export(is_open)

# query bcf header data
export(k_fmt)
export(num_samples)
export(num_positions)
export(sample_names)

# set bcf metadata values
export(subset_samples)
export(set_threads)

# query bcf data
export(next_record)


#########################################################
## HWAS computation
#########################################################
# grm
export(calc_grm)


# qtl2
export(est_herit)
export(batch_cols)
export(get_common_ids)
export(decomp_kinship)
# export(fit1_pg)
