[common]
version
user
bin
path
schema
phenotype
covariates_file
phenotype_file
vcf
meta_prefix
header_prefix
samples_filename = samples
logs = ${path}/logs
rscript = ${bin}/Rscript
bcftools = ${bin}/bcftools


[slurm]
qos
account
partition
logs = ${common:logs}


[query]
dbname
env_pw
host
port
db_user
path = ${common:path}
partition = ${slurm:partition}
qos = ${slurm:qos}
account = ${slurm:account}
logs = ${slurm:logs}
covariates_file = ${common:covariates_file}
phenotype_file = ${common:phenotype_file}
schema = ${common:schema}
phenotype = ${common:phenotype}


[intersect]
samples_filename = ${common:samples_filename}
vcf = ${common:vcf}
covariates_file = ${query:covariates_file}
phenotype_file = ${query:phenotype_file}
bcftools = ${common:bcftools}
rscript = ${common:rscript}


[hgrm]
config_regex
hgrm
alloc_time = 2:00:00
cpus_per_task = 1
mem_per_cpu = 8gb
samples_filename = ${common:samples_filename}
path = ${common:path}
partition = ${slurm:partition}
qos = ${slurm:qos}
account = ${slurm:account}
logs = ${slurm:logs}
vcf = ${common:vcf}


[association]
alloc_time = 24:00:00
cpus_per_task = 5
mem_per_cpu = 10gb
partition = ${slurm:partition}
qos = ${slurm:qos}
account = ${slurm:account}
logs = ${slurm:logs}
vcf = ${common:vcf}

