[common]
version
user
bin
path
schema
phenotype
covariates_file
phenotype_file
vcf
meta_prefix
header_prefix
logs = ${path}/logs
rscript = ${bin}/Rscript
bcftools = ${bin}/bcftools


[slurm]
qos
account
partition
logs = ${common:logs}


[query]
dbname
env_pw
host
port
db_user
alloc_time = 1:00:00
cpus_per_task = 1
mem_per_cpu = 8gb
covariates_file = ${common:covariates_file}
phenotype_file = ${common:phenotype_file}
schema = ${common:schema}
phenotype = ${common:phenotype}


[intersect]
vcf = ${common:vcf}
covariates_file = ${query:covariates_file}
phenotype_file = ${query:phenotype_file}
bcftools = ${common:bcftools}
rscript = ${common:rscript}


[hgrm]
vcf = ${common:vcf}
hgrm = ${common:bin}/hgrm


[association]
vcf = ${common:vcf}

